
/* Breakpoints */

.tws-layout {
    --x-small: 480px;
    --small: 768px;
    --medium: 1024px;
    --large: 1440px;
}

/* Colors */

.tws-color-blue {
    --color100: 0, 0%, 0%;
    --color90: 360 87%, 6%;
    --color85: 209, 88%, 16%;
    --color80: 209, 81%, 18%;
    --color75: 210, 75%, 20%;
    --color70: 210, 71%, 24%;
    --color65: 210, 69%, 28%;
    --color60: 209, 66%, 32%;
    --color55: 208, 63%, 37%;
    --color50: 208, 62%, 42%;
    --color45: 208, 58%, 48%;
    --color40: 209, 58%, 54%;
    --color35: 210, 64%, 61%;
    --color30: 212, 76%, 69%;
    --color25: 214, 76%, 75%;
    --color20: 215, 83%, 82%;
    --color15: 217, 88%, 88%;
    --color10: 219, 100%, 94%;
    --color5: 222, 100%, 98%;
    --color0: 0, 0%, 100%;
}